:root {
  --vp-c-brand: #008AD7!important;
  --vp-c-brand-light: #0097ec!important;
  --vp-c-brand-1: #0097ec!important;
  --vp-c-brand-dark: #0079bd!important;
  --vp-c-brand-highlight: #006398!important;
  --vp-c-green: #0097ec!important;

  --vt-c-brand: #008AD7!important;
  --vt-c-brand-light: #0097ec!important;
  --vt-c-brand-1: #0097ec!important;
  --vt-c-brand-dark: #0079bd!important;
  --vt-c-brand-highlight: #006398!important;
  --vt-c-green: #0097ec!important;
}
