name: Publish a new Release
on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents:
        write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "main"
      - name: Update PRP Files
        uses: CIFriends/prp-preprocessor@v1
        with:
          ignoredDirs: |
            docs
            src
            target
        env:
          currentVersion: ${{ github.event.release.tag_name }}
      - uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'
          java-package: 'jdk'
          cache: 'maven'
          server-id: ossrh
      - name: mvn versions
        run: mvn versions:set -DnewVersion=${{ github.event.release.tag_name }}
      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v6.3.0
        with:
          gpg_private_key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          passphrase: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
      - name: Release With Maven
        run: |
          mvn -s settings.xml -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} --batch-mode deploy -DskipTests -P publish
        env:
         MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
         MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
